/* Main CSS File for the MONITOR Project */

.header-container {
	height: 50px;
	top: 0px;
	border-bottom: 2px solid grey;
	background-color: #26a69a;
}
	.header-container .shortcut {
		float: right;
		height: 48px;
		width: 48px;
		color: white;
	}
	.header-container i {
		font-size: 30px;
		margin-top: 8px;
	}

body {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-container {
	background-color: rgba(128, 128, 128, 0.34);
	border: 2px solid grey;
	text-align: center;
	height: 110px;
	bottom: 0px;
}
	.footer-container .footer-text {
		font-size: 14px;
		color: black;
		font-weight: bold;
		margin-top: 10px;
	}

/** =========== AUTHENTICATION =========== **/

.authentication-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
}
	.authentication-container form {
		width: 400px;
	}
